body { 
	font-family: Georgia, serif;
}

#error {
	display: inline-block;
	margin-bottom: 10px;
}

#form-container {
	width: 100%;
}

#form {
	display: table;
	margin: 0 auto;
}

#center-wrapper {
	text-align: center;
}

#title {
	margin-top: 0px;
}

.reading-pie {
	display: inline;
	padding-left: 50px;
	font-size: 12pt;
}