body { 
	font-family: Georgia, serif;
}

#content-container {
	width: 100%;
	min-width: 800px;
}

#graph-display {
	text-align: center;
	width: 100%;	
}

#title {
	font-size: 30pt;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
}

#canvas-container {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

#canvas {
	display: inline;
}

#selector {
	font-size: 18pt;
	text-align: center;
	width: 75%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

#selector input {
	height: 100%;
	width: 45%;
}

#draw-selected-graph {
	margin-top: 20px;
	width: 125px;
}

.navigation-button {
	margin: 10px;
	width: 150px
}
